*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.sidebar{
    background-color: rgb(12, 202, 202);
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}
.sidebar >div{
    border: 2px solid red;
}
.settings{
    padding: 1vh 2em;
}
.settings div{
display: flex;
align-items: center;

}
.settings div a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.settings div svg{
    color:white;
    margin-right: 0.5em;
}
.main{
    background-color: white;
}