*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.sidebar{
    background-color: rgb(12, 202, 202);
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.settings{
    padding: 1vh 2em;
}
.settings div{
display: flex;
align-items: center;
margin-top: 2vh;
}
.settings div a{
    text-decoration: none;
    font-size: 1.3em;
    color: #f8f7f7;
    font-weight: 550;

}
.settings div svg{
    color:white;
    margin-right: 1em;
}
.extras div{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    }
.extras div a{
        text-decoration: none;
        font-size: 1.3em;
        color: #f8f7f7;
        font-weight: 550;
    }
.extras div svg{
        color:white;
        margin-right: 1em;
    }
.extras{
    padding: 1vh 2em;

}
.title div{
    display: flex;
    align-items: center;
    }
.title div a{
        text-decoration: none;
        font-size: 2em;
        color: #f8f7f7;
    }
.title div svg{
        color:white;
        margin-right: 1em;
    }
.title{
    padding: 1vh 2em;

}
.main{
    background-color: white;
}
.extras a:hover,
.settings a:hover
{    color: aqua;
}
