*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.sidebar{
    background: linear-gradient(45deg,#50C9C3,#96DEDA);
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
}

.settings{
    padding: 1vh 2em;
}
.settings div{
display: flex;
align-items: center;
margin-top: 2vh;
}
.settings div a{
    text-decoration: none;
    font-size: 1.3em;
    color: #f8f7f7;
    font-weight: 500;

}
.settings div svg{
    color:white;
    margin-right: 1em;
}
.extras div{
    display: flex;
    align-items: center;
    margin-top: 2vh;
    }
.extras div a{
        text-decoration: none;
        font-size: 1.3em;
        color: #f8f7f7;
        font-weight: 550;
    }
.extras div svg{
        color:white;
        margin-right: 1em;
    }
.extras{
    padding: 1vh 2em;

}
.title div{
    display: flex;
    align-items: center;
    }
.title div a{
        text-decoration: none;
        font-size: 2em;
        color: #f8f7f7;
    }
.title div svg{
        color:white;
        margin-right: 1em;
    }
.title{
    padding: 1vh 2em;

}
.main{
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 2fr 8fr;
    
}
.search{
    padding: 1vh 3vw;
}
.searchbar{
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.searchbar div{
    display: flex;
    align-items: center;
}
.bar svg{
    margin-right: 1vw;
}
#search{
    background-color: rgba(128, 128, 128,0.2);
    border: transparent;
    border-radius: 8px;
    padding: 1vh 0vw;
    width: 42vw;

}
.profilec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-weight: 600;
    font-size: 1.3em;
}

.upload{
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    align-items: center;
}
.left svg{
    margin-right: 0.7vw;
    border-radius: 20px;
}
#p1{
    font-weight: 500;
}
#p2{
    font-size: 1.7em;
    font-weight: 550;
}

.extras a:hover,
.settings a:hover
{    color: aqua;
}
.portal{
    background-color: rgba(153, 151, 151,0.2);
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    padding: 1vh 2vw;
    grid-template-rows: 1fr;
}

.leftp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
}
.leftp div{
    background-color: white;
    border-radius: 12px;
    margin: 0 1vw 1vh 0vw;
    border-left: 10px solid yellow;
    padding: 0vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.leftp div h1{
    font-size: 1em;
}
.leftp p{
    opacity: 0.6;
}
#fav{
    border: transparent;
    margin-top: 2vh;
}
#favo{
    border: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#favo svg{
    margin-right: 1vw;
}
#titlegrid{
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0;
    background-color: transparent;
    font-size: 20px;
    border: transparent;
    padding: 0;
}

.rightp{
    display: grid;
    grid-template-rows: 0fr 1fr 0fr 1fr;
}
.rightp div{
    background-color: white;
    border-radius: 12px;
}
#vh{
    margin-bottom: 1vh;
}
#titlegrid2{
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: transparent;
}
.right button{
    background: linear-gradient(45deg,#50C9C3,#96DEDA);
    border: transparent;
    border-radius: 12px;
    color: white;
    font-size: 1.3em;
    padding: 5px 0vw;
    text-align: center;
    width: 7vw;
    margin: 0 0.7vw;
}
#rightdiv h1{
    font-size: 1em;
}
#rightdiv p{
    opacity: 0.6;
}
#rightdiv{
    margin:1em 2em;
    border-bottom: 2px solid rgba(0, 0, 0,0.2);
    border-radius: 0px;
    line-break: strict;
    
}
#rightdivp{
    display:flex;
    align-items: center;
    margin: 0.5em 0em 2em 1.5em;
}
#rightdivp svg{
    border-radius: 12px;
}

#rightdivp p{
    opacity: 0.6;
}
#spans{
    font-weight: 550;
    font-size: 1.05em;
    opacity: 1;
}